[submodule "deps/c2rust"]
	path = deps/c2rust
	url = https://github.com/immunant/c2rust.git
[submodule "deps/hayroll"]
	path = deps/hayroll
	url = https://github.com/UW-HARVEST/Hayroll.git
[submodule "Test-Corpus"]
	path = Test-Corpus
	url = git@gitlab-ext.galois.com:tractor/Test-Corpus-Mirror.git
	# This is a private repo, so we set it to `update = none`
	# so that normal submodule updates don't run into permission errors.
	# `Test-Corpus` needs to be manually updated with
	# `git submodule update --init --checkout Test-Corpus`.
	update = none
